<%- include('../templates/head'); %>

    <h1 class="titulo">Listado de Ingresos</h1>
    <hr>
     
    <div class="container d-flex mb-2 justify-content-between">
    
    
        <div >
            <a class="btn btn-primary btn-sm me-4 btnguardar" href="ingreso" th:text="'Nuevo Cliente'" title="Crear nuevo cliente">add
                new income </a>
        </div>
    
        <div class="textbuscar input">
            &#128270;<input class="input" id="textbuscaringreso" type="text" placeholder="Bucar por Concepto" size="20" maxlength="20">
        </div>
    </div>
   
    <div class="container">

        <table id="tableingresoGasto" class="table table-dark table-hover">
        <thead>
            <tr>
            
                <th scope="col">Fecha</th>
               <th scope="col">Concepto</th>
                <th scope="col">Monto</th>
                <th scope="col">Nota</th>
    
            </tr>
        </thead>
        <tbody class="container" id='lista'>
           
                     
    
        </tbody>
    </table>
    
    </div>
    
 <%- include('../templates/footer')%>
    